@import 'variables';

////////////////////////////////////////////////////////////
///////////////////////////////////////// YO WEBAPP DEFAULTS
////////////////////////////////////////////////////////////

// bower:scss
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////// TAGS
////////////////////////////////////////////////////////////
body {
    background: $colorSmogGray;
}

////////////////////////////////////////////////////////////
///////////////////////////////////////////////// CONTAINERS
////////////////////////////////////////////////////////////
.canvas-container, .upper-canvas, .lower-canvas {
    padding-left: 5%;
    padding-top: 30px;
}

.loading {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url("../images/loading.gif") no-repeat center center $colorWhite;
    opacity: 0.5;
    display: none;
}

.container {
    max-width: 1300px;
    min-width: 800px;
    max-height: 1200px;
    min-height: 750px;
    margin: 0 auto;
    border: 5px solid $colorMossGreen;
    border-radius: 8px;
    background-color: $colorFogGray;
    margin-top: 20px;
    position: relative;
}

.header {
    font-family: Helvetica, sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: bolder;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 60px;
    background-color: $colorMossGreen;
    color: $colorWhite;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    text-align: center;
    line-height: 54px;
}

.image-form {
    width: 50%;
    top: 59px;
    bottom: 0px;
    left: 0px;
    border-right: 5px solid $colorMossGreen;
    position: absolute;
    overflow: auto;
    padding-bottom: 30px;
}

.image-gallery {
    width: 50%;
    top: 59px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    overflow-x: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.image-thumbnail {
    width: 29%;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    float: left;
    cursor: pointer;
}

////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////// FORM
////////////////////////////////////////////////////////////
.image-file-selector {
    display: none;
}

.image-filter-options {
    width: 250px;
    height: 200px;
    top: 250px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0 auto;
    position: absolute;
    z-index: 1001;
    background-color: $colorMossGreen;
    opacity: 0.9;
    border-radius: 8px;
    border: 4px solid $colorSmogGray;
    display: none;
}

.image-filter-overlay {
    position:fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: $colorWhite;
    opacity:0.8;
    z-index:1001;
    display: none;
}

.radio-button {
    font-family: $fontHelvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: bolder;
    color: $colorWhite;
    line-height: 40px;
    padding-left: 20px;
    margin-right: 20px;
    display: inline-block;

    & ul {
        list-style: none;
    }
}

.image-detail {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bolder;
    margin-left: 3.5%;
    margin-top: 30px;
    padding: 5px;
    width: 90%;
}

.image-comment {
    @extend .image-detail;

    margin-top: 20px;
}

.image-file-name {
    @extend .image-detail;

    pointer-events: none;
}

.button {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    background-color: $colorLightGray;
    border-radius: 8px;
    border: 2px solid $colorStoneGray;
    line-height: 40px;
    text-align: center;
    color: $colorMidnightGray;
    text-shadow: -1px -1px 1px $colorWhite;
    margin-top: 15px;
    margin-right: 4%;
    float: right;
    width: 120px;
    height: 40px;
    cursor: pointer;
    box-shadow: inset   1px -2px 1px $colorLightGray,
                        3px 3px  3px $colorStoneGray;

    &:hover {
        box-shadow: inset   2px -2px 2px $colorLightGray,
                            2px 2px  2px $colorMidnightGray;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
    }
}